@using EntityLayer.Concrete
@model List<Blog>
@{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>BlogListByWriter</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Blog Title</th>
        <th>Creation Date</th>
        <th>Category</th>
        <th>Status</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.blogID</td>
            <td>@item.blogTitle</td>
            <td>@(((DateTime)item.blogCreateDate).ToString("dd-MMM-yyyy"))</td>
            <td>@item.Category.categoryName</td>
            @if (@item.blogStatus)
            {
                <td><h6 style="color:green;">Active</h6></td>
            }
            else
            {
                <td><h6 style="color:red;">Passive</h6></td>
            }
            <td><a href="/Blog/DeleteBlog/@item.blogID" class="btn btn-danger delete">Delete</a></td>
            <td><a href="/Blog/EditBlog/@item.blogID" class="btn btn-warning edit">Edit</a></td>
        </tr>
    }
</table>
<a href="/Blog/BlogAdd/" class="btn btn-primary">New Blog</a>

