@using EntityLayer.Concrete
@model List<Blog>
@{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>BlogListByWriter</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Blog Title</th>
        <th>Creation Date</th>
        <th>Category</th>
        <th>Status</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.blogID</td>
            <td>@item.blogTitle</td>
            <td>@(((DateTime)item.blogCreateDate).ToString("dd-MMM-yyyy"))</td>
            <td>@item.Category.categoryName</td>
            @if (@item.blogStatus)
            {
                <td><h6 style="color:green;">Active</h6></td>
            }
            else
            {
                <td><h6 style="color:red;">Passive</h6></td>
            }
            <td><a href="/Blog/DeleteBlog/@item.blogID" class="btn btn-danger delete">Delete</a></td>
            <td><a href="#" class="btn btn-warning edit">Edit</a></td>
        </tr>
    }
</table>
<a href="#" class="btn btn-primary">New Blog</a>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript">
    $(".edit").click(function () {
        swal({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
                Swal.fire('Deleted!', '', 'success')
            }
        })
    })
</script>
